html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.w-fit-content {
  width: fit-content;
  padding: 0 55px 0 0;
}

.btn-pad {
  padding: 5px 25px;
}